/*===============================================================
01/D - BUTTONS
===============================================================*/

:--btn {
  color: white;
  border-radius:  var(--radius-base);
  font-size: var(--size-base);
  font-family: var(--font-base);
  font-weight: var(--weight-base);
  background: var(--brand-base);
  border: none;
  border-color: black;
  padding: var(--space-base) calc(var(--space-base)*2);
  line-height: normal;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  box-sizing: border-box;
  letter-spacing: var(--more-spacing);
  transition: var(--transition-base);
}


:--btn:--over {
  background: var(--brand-shadow);
  color: white;
  outline: none;
  box-shadow: none;
  border-color: none;
}
