/*===============================================================
01/B TYPOGRAPH
===============================================================*/


@font-face {
    font-family: 'icomoon';
    src:    url('assets/fonts/icomoon.eot?o2urkl');
    src:    url('assets/fonts/icomoon.eot?o2urkl#iefix') format('embedded-opentype'),
            url('assets/fonts/icomoon.ttf?o2urkl') format('truetype'),
            url('assets/fonts/icomoon.woff?o2urkl') format('woff'),
            url('assets/fonts/icomoon.svg?o2urkl#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  font-size  : var(--size-default);
  font-style : var(--font-base);
  font-weight: var(--weight-base);
  line-height: var(--line-default);
  color: var(--color-default);
}

p {
  font-weight: var(--weight-base);
  line-height: var(--line-default);
}

time,
address {
  color: var(--color-light);
}

a {
  color: var(--color-link);
}

:--heading {
  font-weight: var(--weight-bold);
  line-height: var(--line-large);
}

:--heading strong {
  font-size: var(--size-large);
}

:--heading small {
  font-size: var(--size-small);
}
