/*===============================================================
03
===============================================================*/

.banner {
  lost-center: 100%;
}

.banner-item {
  width: 100%;
  height: auto;
  position: relative;

}

.banner-item main p {
  width: 100%;
  height: auto;
  margin: 0;
  display: block;
}

.banner-item img {
  background: black;
  width: 100%;
  min-height: 480px;
  height: auto;
}

.banner-item h1 {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.banner-item footer p {
  width: 100%;
  position: absolute;
  bottom: 8px;
  height: 140px;
  left: 0;
  margin: 0;
  padding: calc(var(--space-base)*2);
  background: var(--half-black);
  color: white;
  box-sizing: border-box;
}
