/*=========================================================================
03/C - CARDS
=========================================================================*/

@custom-selector :--grids .card-single, .card-double, .card-triple, .card-four, .card-grid, .card-list;

@custom-selector :--cards .card, .card-half, .card-large;

:--grids {
  lost-center : 100%;
  position    : relative;
}

:--grids :--cards {
  lost-center : 100%;
  margin      : calc(var(--space-base)*2) 0;
}

.card-half:first-child {
  margin-top: 0;
}

.card-half:last-child {
  margin-bottom: 0;
}


  .card-four .card {
    lost-waffle   : 1/2 2 var(--space-base);
  }

@media (--screen-medium) {

  .card-grid .card {
    lost-waffle   : 1/5 5 calc(var(--space-base)*2);
  }

  .card-grid .card-large {
    lost-waffle   : 2/5 5 calc(var(--space-base)*2);
  }

  .card-four .card {
    lost-waffle   : 1/4 4 calc(var(--space-base)*2);
  }

  .card-four .card-large {
    lost-waffle   : 2/4 4 calc(var(--space-base)*2);
  }

  .card-triple .card {
    lost-waffle   : 1/3 3 calc(var(--space-base)*2);
  }

  .card-triple .card-large {
    lost-waffle   : 2/3 3 calc(var(--space-base)*2);
  }

  .card-double .card {
    lost-waffle   : 1/2 2 calc(var(--space-base)*2);
  }

  .card-double .card-large {
    lost-waffle   : 1/2 2 calc(var(--space-base)*2);
  }

}
