/*===============================================================
02
===============================================================*/

.btn-icon {
  height: auto;
  width: auto;
  padding: var(--space-base);
}

.btn-link {
  background: var(--gray-smooth);
  color: var(--gray-base);
}
