/*=========================================================================
02/D - FORM-SET
=========================================================================*/

.form-control {
  display : block;
  height  : auto;
  margin  : calc(var(--space-base)/2) 0;
  width   : 100%;
}

.form-control > * {
  display : block;
  width: 100%;
}

.form-inline {
  display : block;
  height  : auto;
  margin  : 0;
  width   : 100%;
}

.form-inline .form-control {
  display : inline-block;
  height  : auto;
  margin  : 0 var(--space-base);
  width   : auto;
}

.form-inline .form-control:first-child {
  margin-left : 0;
}

.form-inline .form-control:last-child {
  margin-right : 0;
}
