/*===============================================================
02
===============================================================*/

.title {
  color: var(--brand-base);
  font-weight: var(--weight-base);
  text-transform: uppercase;
  position: relative;
  font-size: var(--size-extra);
}

.title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -5px;
  width: 80px;
  height: 1px;
  background: var(--brand-light);
}

.title-banner {
  color: var(--half-black);
  box-sizing: border-box;
  font-size: var(--size-base);
  font-weight: var(--weight-base);
  margin: var(--space-base) 10%;
  padding: var(--space-base);
  width: 80%;
  text-transform: uppercase;
  text-align: center;
  background: var(--half-white);
}

.title-news {
  font-size: var(--size-base);
  font-weight: var(--weight-base);
  letter-spacing: var(--more-spacing);
  text-transform: uppercase;
}

.title-page {
  font-size: calc(var(--size-base)*2);
  text-transform: uppercase;
  letter-spacing: var(--more-spacing);
  color: var(--brand-base);
  text-align: center;
  font-weight: var(--weight-base);
  margin: calc(var(--space-base)*3) auto;
  position: relative;
}

.title-page span {
  margin: 0 20px;
}

.title-section {
  font-size: var(--size-large);
  font-weight: var(--weight-base);
  text-transform: uppercase;
  color: var(--brand-light);
}

.title-sidebar {
  font-weight: var(--weight-base);
  text-transform: uppercase;
  margin: 0;
}

@media (--screen-medium) {

  .title-page::after {
    content: "";
    width: 80px;
    height: 1px;
    position: absolute;
    background: var(--brand-light);
    top: 20px;
  }

}

@media (--screen-small) {

  .title-page {
    font-size: var(--size-large);
  }


  .title-section {
    font-size: var(--size-base);
    font-weight: var(--weight-bold);
  }

}
