/*===============================================================
04
===============================================================*/

.sale-set {
  lost-center: 100%;
  margin-bottom: calc(var(--space-large)*4);
}

.sale-nav label {
  display: inline-block;
  text-transform: uppercase;
}

.sale-nav select {
  display: inline-block;
}

.sale-item {
  text-align: center;
}

.sale-item strong {
  color: var(--brand-base);
}

.sale-item img {
  width: 100%;
  height: 200px;
  background: #bbbb;
}

@media (--screen-small) {
  .sale-nav select {
    width: 100%;
  }
}
